.content {
    background-image: url("C:\Users\dimitris\Desktop\Ang-blog\src\assets\background_image.jpg");
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}